#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=public
Comment=Open '/home/rootz491/JavaScript-basics/firebase-app/public'
Icon=inode-directory
Name[en_US]=public
Comment[en_US]=Open '/home/rootz491/JavaScript-basics/firebase-app/public'
Icon[en_US]=inode-directory
URL=file:///home/rootz491/JavaScript-basics/firebase-app/public
Type=Link
